<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
<thead>
<th>Id</th>
<th>Employee Name</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Department</th>
				<th>Email</th>
			</thead>
			<tbody>
				<tr th:each="employee: ${employees}">
					<td th:text="${employee.Id}">Id</td>
					<td th:text="${employee.FirstName}">FirstName</td>
					<td th:text="${employee.LastName}">LastName</td>
					<td th:text="${employee.Department}">Department</td>
					<td th:text="${employee.Email}">Email</td>
					
				</tr>
		
			</tbody>
		</table>
		 
        
</body>
</html>
